{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="{% static 'members.css' %}">
    <title>Tech | Membros</title>
</head>
<body>

    <header>
        <img src="{% static 'assets/member.jpeg' %}" alt="várias pessoas felizes" class="logo">
    </header>

    <main>
        <h1>Área para membros</h1>
        
        <p>Bem-vindo, {{ user.username }}!</p>
        <p>Esta é a área exclusiva para membros autenticados. Aqui você pode acessar conteúdos especiais, participar de discussões e aproveitar todos os benefícios de ser um membro da nossa comunidade.</p>   
        <div class="logout-btn-container">
            <a href="http://localhost:8000/accounts/logout/" class = "logout-btn">Sair</a>
        </div>
    </main>

</body>
</html>